/* global */
*{
    margin:0px auto;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior:smooth;

}
body{
    font-family: "verdana";
    word-spacing: 0px;
    letter-spacing: 0px;

}
/* header */
.top {
    background-color: rgba(0,0,0,0.78);
    padding: 3px;
    color: white;
    text-align: center;
    font-size: 10px;
    word-spacing: 10px;
    letter-spacing: 8px;
}
.logo{
    background-color: white;
}
.logo1 {
    background-image: url("../img/1/logo2.png");
    height: 55px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 47%;
}
header{
    position:sticky; top:0px; 
    background-color: white;
    color:black;
    z-index: 213123123213123213;
    word-spacing: 10px;
    letter-spacing: 8px;
}
.banner ul{
    display: flex;
    padding: 7px;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    word-spacing: 10px;
    letter-spacing: 8px;
}
li:hover{
    transform:scale(1.2);
}
li a:active{
    color:#dde3dd;
    transform: rotate(2deg);
}
li:active{
    transform: rotate(10deg);
}
/* menu desplegable */
.menu{
    position: absolute;
    top: 15px;
    left: 5px;
    z-index: 100000000;
   display: none;

}
.menu2{
    position:fixed;
    bottom: 25px;
    left: 3px;
    z-index: 100000000;
    display: none;
    background-color: #d3d3d3;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: none;
   

}
.menu2 a{
    text-align: center;
    padding: 20px;

}
.menu2 a i{
  
    font-size: 20px;
    position: absolute;
    bottom: 16px;
    left: 16.4px;
}
.menu a{
    padding: 20px;
}
.menu a i{
    font-size: 20px;
  

}
.menu-bar{
    transform: translate(-100%);
    display: flex;
    position: fixed;
    background-color: white;
    text-align: left;
    height: 55%;
    z-index: 23000000000;
}
.isactive{
    transform: translate(0);
}
.menu-bar ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.menu-bar ul li {
    margin: 15px 20px;
}
.menu-bar a{
    letter-spacing: 3px;
    word-spacing: 3px;
}
.menu-bar2{
    display: flex;
    position: fixed;
    background-color: white;
    text-align: left;
    height: 75%;
    z-index: 10000000;
}
/* main */
.vivaLaVida img{
    opacity: 0.8;
    filter: brightness(65%);

}
.teQuiero{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
p{
    text-align: center;
}
main img:hover{
    border:solid 2px #d3d3d3;
}
main img{
 
    margin: 10px auto;} 

/* footer */
footer{
    background-color: rgba(0,0,0,0.89) ;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a {
    color: white;
    font-size: 10px;
    text-decoration: none;
    margin: 3px;
    word-spacing: 1px;
    letter-spacing: 3px;
}
footer a i {
    font-size: 20px;
    color: white;
}

/* pantalla de incio */
/* .fondoVerdadero {
  background-image: url("../img/1/fondo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px;
} */

.fa-whatsapp{
    font-size: 30px;
    z-index: 2312312321312312321;
    position: fixed;
    right: 6px;
    bottom: 37px;
    
}
.whatsapp a{
    padding: 20px;
}
 
.carrousel p{
    text-align: center;
    margin: 15px;

}
.carrousel{
    position:relative;
    margin: 2px auto;
    background-color:rgba(255, 255, 255, 0.014);
}
.este{
    width: 70%;
    height: 70%;
}
.este img{
    width: 60%;
    height: 60%;
}
.carrousel img{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: solid 2px gray;

}
.botones{
    font-size:6px;
    width:25px;
    height:25px;
    line-height:25px;
    border-radius:50%;
    background-color: rgba(0,0,0,0.90);
    text-align:center;
    font-weight:bold;
    position:absolute;
    color: #fff;
    box-shadow: 0 0 10px rgba(255,255,255,.99);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: 0px;
}
.botones:hover{
    cursor:pointer;
    transform: scale(1.2,1.2);
}
.atras{
    left:2%;
    top:calc(50% - 5px);
}
.adelante{
    right:2%;
    top:calc(50% - 5px);
}




.romeito{
     display: flex;
     flex-direction: column;
}

.preRome img{
    transition: transform 0.3s ease-in-out;
}
.grabbing{
    cursor: grabbing;
}
.grabbing img{
    transform: scale(0.9);
}
.abajoB{
    width: 100%;
    height: 800px;
}




.summer{
    width: 100%;
    height: 200px;
}
.martu{
    position: relative;
}
.hijaMartu{
    position: absolute;
    left: 30%;
    bottom: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px ;
}
.a3{
    left: 35%;
}
.a4{
    left:26%
}
.hijaMartu2{
    width: 250px;
    height: 50px;
    background-color: rgba(0,0,0,0.80);
    opacity: 0.99;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.60);
    border-radius: 3px ;
}
.hijaMartu p{
     color: white;
     font-size: 12px;
}
.hijaMartu2 p{
    color: white;
    font-size: 10px;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-weight: lighter;
}
.politica{
    width: 300px;
    height: 750px;
    border: 3px solid #1C2833;
    border-radius: 5px ;

}
.politica1{
    margin: 4px;
    text-align: center;
    word-spacing: 0px;
    letter-spacing: 0px;
   
}
.politica1 p{
    font-size: 12px;
}
.politica11{
    /* background-color:rgba(0,0,0,0.69) ; */
    color: black;
    border-radius: 3px;
    font-size: 11px;
    padding: 5px;
   font-weight: bold;
    margin: 4px;
}

.fondoVerdadero{
    text-align: center;
}
.vivaLaVida{
    display: flex;
    flex-wrap: wrap;
}
.recuadrar{
    width: 120px;
    height: 20px;
    background-color: rgba(0,0,0,0.90);
    opacity: 0.99;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.60);
    border-radius: 3px ;
    position: absolute;
    left: 27%;
    bottom: 95%;
}
.recuadrar p{
    color: white;
    font-weight:lighter;
    font-size: 9px;
    word-spacing: 0px;
    letter-spacing: 4px;
}
.rome{
    color: rgba(0,0,0,0.89);
    font-weight: 500;
}
.descri{
    word-spacing: 0px;
    letter-spacing: 0px;
    color: black;
    margin:9px;
    text-align: center;
    font-weight:lighter;
    font-size: 14px;
}
hr{
    width: 90%;
}
.carrito{
    display: none;
    position: relative;
    background-color: rgba(0,0,0,0.79);
    width: 250px;
    height: 50px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.60);
    border-radius: 3px ;
    
}
.carrito p{
    color: #cdcdcd;
    word-spacing: 0px;
    letter-spacing: 2px;
    font-size: 11px;
}
.fa-shopping-cart{
  color: #cdcdcd;
  text-align: center;
  margin: 3px;
  font-size: 14px;
}



/* queries */
@media all and (max-width:1000px){
    .banner{
       display: none;
    }
    .menu{
        display:block; 
    } 
    /* .menu2{display: block;} */
}
 @media all and (max-width:700px){
    .top{
           font-size: 7px;
           word-spacing: 5px;
           letter-spacing: 4px;
    }
    li:hover{
        transform:scale(1.1);
    }
    li:active{
        transform: rotate(10deg);
    }
    }
    @media all and (min-width:1000px){
        .menu-bar2{
            display:none;
        }
        .carrousel{
            display: none;
        }
    }

        @media all and (min-width:500px){
            .recuadrar{
              left: 37%;
              bottom: 5%;
          }}
        @media all and (min-width:1100px){
            .fa-whatsapp{
                right: 0px;
                font-size: 50px;
              }
        }

        .zx{
            font-size: 17px;
            z-index: 2312312321312312321;
           position: inherit;
           display: inline-block;
           margin: 3px;
          
        }
        .politica1 a{
            word-spacing: 0px;
            letter-spacing: 2px;
        }
       
        .texas{
            width: 280px;
            height: 280px;
        }
        .a22{
            left:17%
        }
        .a33{
            left:26%
        }
        .a44{
            left:33%;
        }
        #stockk{
            width: 160px;
            height: 160px;
        }